---
import { type CollectionEntry, getCollection, render } from "astro:content";
import { ChevronLeft } from "lucide-react";

import Layout from "@site/layout/Layout.astro";

import Header from "@site/components/header/Header.astro";
import Footer from "@site/components/Footer.astro";
import FormattedDate from "@site/components/FormattedDate.astro";

import { buttonVariants } from "~/components/ui/button";

export async function getStaticPaths() {
  const posts = await getCollection("blog-en");
  return posts.map((post) => ({
    params: {
      id: post.id,
    },
    props: post,
  }));
}
type Props = CollectionEntry<"blog-en">;

const post = Astro.props;
const { Content } = await render(post);
---

<Layout title={post.data.title}>
  <Header />
  <article class="container relative max-w-3xl py-6 lg:py-10">
    <div class="mb-8">
      {post.data.date && <FormattedDate date={post.data.date} />}
      <h1
        class="mt-2 inline-block font-heading text-4xl font-bold leading-tight tracking-tighter lg:text-5xl"
      >
        {post.data.title}
      </h1>
    </div>
    {
      post.data.image && (
        <img
          src={post.data.image}
          alt={post.data.title}
          width={720}
          height={405}
          class="my-8 rounded-md border bg-muted transition-colors"
        />
      )
    }
    <div class="prose max-w-none">
      <Content />
    </div>
    <hr class="mt-12" />
    <div class="flex justify-center py-6 lg:py-10">
      <a href="/blog" class={buttonVariants({ variant: "ghost" })}>
        <ChevronLeft className="mr-2 h-4 w-4" />
        See all posts
      </a>
    </div>
  </article>
  <Footer />
</Layout>
