---
import { getCollection } from "astro:content";

import Layout from "@site/layout/Layout.astro";

import Header from "@site/components/header/Header.astro";
import HeaderLink from "@site/components/header/HeaderLink.astro";
import Footer from "@site/components/Footer.astro";
import FormattedDate from "@site/components/FormattedDate.astro";

import { buttonVariants } from "~/components/ui/button";
import { LanguageSwitcher } from "@site/components/LanguageSwitcher";

const posts = (await getCollection("blog-en")).sort(
  (a, b) => b.data.date.valueOf() - a.data.date.valueOf()
);
---

<Layout title="Product Blog">
  <Header />
  <div class="container max-w-4xl py-6 lg:py-10">
    <div
      class="flex flex-col items-start gap-4 md:flex-row md:justify-between md:gap-8"
    >
      <div class="flex-1 space-y-4">
        <h1
          class="inline-block font-heading text-4xl font-bold leading-tight tracking-tighter lg:text-5xl"
        >
          Blog
        </h1>
        <p class="text-md text-muted-foreground sm:text-lg">Our product blog</p>
      </div>
    </div>
    <hr class="my-8" />
    {
      posts?.length ? (
        <div class="grid gap-10 sm:grid-cols-2">
          {posts.map((post, index) => (
            <article class="group relative flex flex-col space-y-2">
              {post.data.image && (
                <img
                  src={post.data.image}
                  alt={post.data.title}
                  width={804}
                  height={452}
                  class="rounded-md border bg-muted transition-colors"
                />
              )}
              <h2 class="text-2xl font-extrabold">{post.data.title}</h2>
              {post.data.description && (
                <p class="text-muted-foreground">{post.data.description}</p>
              )}
              {post.data.date && (
                <p class="text-sm text-muted-foreground">
                  <FormattedDate date={post.data.date} />
                </p>
              )}
              <a href={`/blog/${post.id}`} class="absolute inset-0">
                <span class="sr-only">View Article</span>
              </a>
            </article>
          ))}
        </div>
      ) : (
        <p>No posts published.</p>
      )
    }
  </div>
  <Footer />
</Layout>
